/* styles used in standalone for the thumbnail list */
body {
	background-color:#111;
    color:#999;
    overflow-y: scroll;
    font-family: Arial, "MS Trebuchet", sans-serif;
    font-size:13px /* standard for the lot */
	margin: 0px;
}
.wrapper {
	position:relative;
	width: 860px;
	margin:0 auto;
}
#container {
	position:relative;
	width:555px;
	height: 100%; 
	margin:0 auto;
}
#slides {
	
}
.eventsGallery {
    float: left;
    margin: 0 2px 0 0;
}
.gallerySlides {

}
.gallerySlides ul li {
    width: 555px;
    height: 300px; 
}
#gallerySlidesNo {
    position: relative;
    z-index: 9999;
}
#gallerySlidesNo li {
    display: inline;
}
#gallerySlidesNo li.current a {
	background-color: #8f0000;
    color: #fff
}
#gallerySlidesNo li a {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 4px 0 0;
    padding: 0 2px 4px 2px;
    text-align:center;
    z-index: 9999;
    background-color: gray;
}
.photo-info {
    clear:both;
}
/******************
 * GALLERY INLINE *
 ******************/

/* a-z order for maintenance */

#ajax-inline {
  
}
#display-inline {
    height: 300px;
    margin: 0 auto;
    padding: 10px 0px;   
	width: 555px;             
}
#info-inline {	
    font-size: small;           
    padding: 0px 0px 10px 0px;
}
#info-inline li {
    list-style-type: none;      
}
#infocontainer-inline {
   text-align: center;
}
.grid-inline {

}
#title-inline {
	
}
