/* styles used in standalone for the thumbnail list */
body {
    background: black;
    overflow-x:hidden;
}
#container {
	width:555px; 
	margin:0 auto;
}
#slides {
	
}
.eventsGallery {
    float: left;
    margin: 0 2px 0 0;
}
.gallerySlides {
	overflow:hidden;
}
.gallerySlides ul li {
    width: 555px;
    height: 300px;
	 
}
#gallerySlidesNo {

}
#gallerySlidesNo li {
    display: inline;
}
#gallerySlidesNo li a {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 4px 0 0;
    padding: 0 2px 4px 2px;
    text-align:center;
    z-index: 9999;
    background-color: #fff
}
.photo-info {
    clear:both;
}
