{% extends 'master.html' %}
{% load gallery_tags %}

{% block head %}
    <title>Ajax With Jquery</title>
{% endblock %}

{% block css %} 
    <link href="{{ MEDIA_URL }}css/gallery.css" rel="stylesheet" /> 
{% endblock %}

{% block js %} 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ MEDIA_URL }}js/json2.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ MEDIA_URL }}js/ajax-gallery-inline.js" type="text/javascript" charset="utf-8"></script>    
{% endblock %}       

{% block col-content %}
    <div id="ajax-inline"></div>
    <div class="grid-inline">    
       {% for photo in object.photos %}
         <a href="#"><img id="{{ photo.id }}" src="{{ photo.main_image.extra_thumbnails.small_square }}" /></a>
       {% endfor %}   
    </div>        
{% endblock %}