{% block css %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}css/gallery.css" rel="stylesheet" />
{% endblock %}

{% block col-content %}
	{% if object %}
	 <div class="photo-info">{% if object.name %}<h2>{{ object.name }}</h2>{% endif %}</div>
	    <ul>
	    {% for pic in object.photos %}		
	        <li class="eventsGallery"><a href="{{ pic.get_absolute_url }}" ><img src="{{ pic.main_image.extra_thumbnails.small_square }}" /></a></li>
		{% endfor %}
	    </ul>	   
	{% endif %}
   <div class="photo-info"><a href="{{ object.content_object.get_absolute_url }}">Return to the {{ object.name }} page</a> </div> 
{% endblock %}