{% extends 'master.html' %} 

{% block col-content %}
	{% if object %}	
	 <div class="photo-info">{% if object.name %}<h2>{{ object.name }}</h2>{% endif %}</div>
	    <ul>
	    {% for pic in object.photos %}		
	        <li class="eventsGallery"><a href="{{ pic.get_absolute_url }}" ><img src="{{ pic.main_image.extra_thumbnails.small_square }}" /></a></li>
		{% endfor %}
	    </ul>	   
	{% endif %}
   <div class="photo-info"><a href="{{ object.get_absolute_url_overview }}">Return to the overview</a> </div> 
{% endblock %}