{% extends 'layouts/popup.html' %}
{% block css %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}css/gallery.css" rel="stylesheet" />
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.eventsGallery a').click(function(e) {
                e.preventDefault();
                parent.window.location.href = $(this).attr('href');
            });
        });
    </script>
{% endblock %}

{% block body_id %}{% endblock %}

{% block content %}
    <ul>
    {% for photo in object.photos %}
        <li class="eventsGallery"><a href="{{ photo.get_absolute_url }}" rel="shadowbox"><img alt="{{ photo.id }}" src="{{ photo.main_image.extra_thumbnails.small_square }}" /></a></li>
    {% endfor %}
    </ul>
{% endblock %}
